@CHARSET "utf-8";

header {
	width: 1000px;
	margin: 0 auto;
	background-color: #f3f3f3;
	padding-top: 15px;
}

#top_login {
	float:right;
	margin-right:10px;
	margin-top:5px;
}

a {
	text-decoration: none;
	color: black;
}
a:hover {
	/* color: orange; */
	color: #737373;
	border-bottom: 2px #737373 solid;
}

.top_clear {
	clear:both;
}

#logo {
	float: left;
	width: 270px;
	height: 65px;
}

#logo a {
	text-decoration: none;
	color: black;
}

#logo h1 {
	margin-left: 20px;
}

nav#top_menu {
	float: right;
}

nav#top_menu ul{
	list-style: none;
	font-size: 1.3rem;
	font-weight: 100;
	color: #333;
}
nav#top_menu li{
	float: left;
	margin: 0 20px;
}

nav#top_menu li > a{
	text-decoration: none;
	color:black;
}

nav#top_menu li > a:hover {
	border-bottom: 2px #737373 solid;
	/* color: #66ff66; */
	color: #737373;
}

#search_input {
	text-align: center;
}

#inputBox {
	width: 150px;
	height: 20px;
	border: 1px solid black;
	border-radius: 10px;
	font-family: 'Cafe24Simplehae';
	font-size: 15px;
	padding-left: 10px;
	margin-right: 10px;
}

#inputBtn {
	font-family: 'Cafe24Simplehae';
	font-size: 15px;
	height: 25px;
	width: 50px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
}

#noticeList {
	overflow-y: scroll;
	width: 440px;
	height: 300px;
}